.avatar-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.avatar {
  border-radius: 50%;
  width: 26px;
  height: auto;
}

.no-image-avatar {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: lightgray;
  padding-right: 0;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}
.no-image-avatar span {
  padding-top: 2px;
}

.name-container {
  flex-grow: 1;
}
