.Loader {
  animation: Loader-spin infinite 300mv linear;
  pointer-events: none;
}

@keyframes Loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-root-container {
  display: flex;
  position: relative;
  font-size: 14px;
}
